include ../logo/logo
mixin header(state, arrLink, arrowPos, btnBorderName, btnBgName)
  case state
    when "standard"
      header.header
        .header__inner
          .header__logo
            +logo("color")
          ul.header__nav
            each val, index in arrLink
              li.header__nav-item
                if arrLink[index] === "Home"
                  a.header__nav-link.header__nav-link_active= arrLink[index]
                else
                  a.header__nav-link= arrLink[index]
                if arrowPos[0]  === arrLink[index]
                  span.header__nav-arrow
                if arrowPos[1]  === arrLink[index]
                  span.header__nav-arrow
          .header__login.header__login_active
            .header__button-login
              include ../button/button-border
              +button-border(`${btnBorderName}`, "sm")
            .header__button-register
              include ../button/button-bg
              +button-bg(`${btnBgName}`, "sm")
          .header__account
            .header__account-separate
            .header__account-name Cosmin Negoita
    when "login"
      header.header
        .header__inner
          .header__logo
            +logo("color")
          ul.header__nav
            each val, index in arrLink
              li.header__nav-item
                if arrLink[index] === "Home"
                  a.header__nav-link.header__nav-link_active= arrLink[index]
                else
                  a.header__nav-link= arrLink[index]
                if arrowPos[0]  === arrLink[index]
                  span.header__nav-arrow
                if arrowPos[1]  === arrLink[index]
                  span.header__nav-arrow
          .header__login
            .header__button-login
              include ../button/button-border
              +button-border(`${btnBorderName}`, "sm")
            .header__button-register
              include ../button/button-bg
              +button-bg(`${btnBgName}`, "sm")
          .header__account.header__account_active
            .header__account-separate
            .header__account-name Cosmin Negoita