//- Colors_type
		===========

mixin color-palette(mod)
	div(class=`color-palette__color color-palette__color--${mod}`)

mixin color-palette__description(name, hash)
	.color-palette__description
		.color-palette__name=name
		.color-palette__hash=hash

mixin color-text(mod, name, description)
	div(class=`color-text__name color-text__name_${mod}`)=name
	div(class=`color-text__description color-text__description_${mod}`)=description



//- Form-elements
		=============
mixin form-text-field(placeholder, mod)
	if mod
		input(class=`form-text-field form-text-field_${mod}` type="email" placeholder= placeholder)
	else
		input.form-text-field(placeholder= placeholder)

mixin form-description(name, state)
	.form-description
		if state
			.form-description__name=name
			.form-description__state=state
		else
			.form-description__name=name
	
mixin form-date-dropdown(text)
	.form-date-dropdown
		.form-date-dropdown__text=text
		button.form-date-dropdown__arrow.form-date-dropdown__arrow_down

mixin dignity(imgPath, title, text)
	.dignity
		.dignity__icon
			img(src=`${imgPath}`, alt="icon")
		.dignity__description
			.dignity__description-title=title
			.dignity__description-text=text